
.grid-item{
    /* flex-direction: column; */
    /* justify-content: space-around; */
    padding: 5% 6%;
}

.placeholder{
    object-fit: contain;
}

.article-title, .bylines {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    text-align: center;
}


body{
    margin: 0;
}

@font-face {
    font-family: "ballamer";
    src: url("fonts/ballmerarchityperegular-webfont.woff") format("woff");
}

.blue, .brown, .pink, .white {
    margin: 0;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 70%;
}

.blue{
    background-color: #65dbff;
}


.pink{
    background-color: #F2419A;
}

.brown{
    background-color: #F4DFB6;

}

.white{
    background-color: white;

}

.placeholder{
    height: 100%;
    width: 100%;
}

.navbar{
    background-color:#F2419A;
    font-family: "ballamer";
    padding-right: 15px;
    padding-left: 15px;
    margin: 0;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 20px; 
    font-weight: 600;
    color: black;
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

